# DEPENDENCIES ----------------------------------------------------------------
node_modules

# COMPILED --------------------------------------------------------------------
dist
www

# IDE & FILES -----------------------------------------------------------------
.vscode
*.min.*
*.lock
*.log
*.png
*.d.ts
*.md
